LIST

1. Write a Python program to sum all the items in a list.

In [1]:
def sum_list(items):
    total = 0
    for item in items:
        total += item
    return total
my_list = [1, 2, 3, 4, 5]
print("The sum of all items in the list:", sum_list(my_list))

The sum of all items in the list: 15

2. Write a Python program to get the largest and smallest number from a list without

builtin functions.

In [2]:
def find_largest_and_smallest(numbers):
 
    if len(numbers) == 0:
        return None, None 

    largest = numbers[0]
    smallest = numbers[0]

    
    for num in numbers[1:]:
        if num > largest:
            largest = num
        if num < smallest:
            smallest = num

    return largest, smallest
my_list = [10, 3, 5, 7, 2, 8]
largest, smallest = find_largest_and_smallest(my_list)
print("The largest number is:", largest)
print("The smallest number is:", smallest)

The largest number is: 10
The smallest number is: 2

3. Write a Python program to find duplicate values from a list and display those.

In [3]:
def find_duplicates(numbers):
    duplicates = []
    seen = {}

    for num in numbers:
        if num in seen:
            if seen[num] == 1:
                duplicates.append(num)
            seen[num] += 1
        else:
            seen[num] = 1

    return duplicates


my_list = [1, 2, 3, 4, 5, 2, 6, 7, 3, 8, 9, 1]
duplicates = find_duplicates(my_list)
print("Duplicate values are:", duplicates)

Duplicate values are: [2, 3, 1]

4. Write a Python program to split a given list into two parts where the length of the first

part of the list is given.

Original list:

[1, 1, 2, 3, 4, 4, 5, 1]

Length of the first part of the list: 3

Splitted the said list into two parts:

([1, 1, 2], [3, 4, 4, 5, 1])

In [4]:
def split_list(input_list, length_of_first_part):
    if length_of_first_part > len(input_list):
        return "Length of the first part is greater than the list length"

    first_part = input_list[:length_of_first_part]
    second_part = input_list[length_of_first_part:]
    return first_part, second_part


original_list = [1, 1, 2, 3, 4, 4, 5, 1]
length_of_first_part = 3
split_parts = split_list(original_list, length_of_first_part)
print("Original list:")
print(original_list)
print("Length of the first part of the list:", length_of_first_part)
print("Splitted the said list into two parts:")
print(split_parts)

Original list:
[1, 1, 2, 3, 4, 4, 5, 1]
Length of the first part of the list: 3
Splitted the said list into two parts:
([1, 1, 2], [3, 4, 4, 5, 1])

5. Write a Python program to traverse a given list in reverse order, and print the

elements with the original index.

Original list:

['red', 'green', 'white', 'black']

Traverse the said list in reverse order:

black

white

green

red

In [5]:
def traverse_reverse_with_indices(input_list):
    for index in range(len(input_list) - 1, -1, -1):
        print(f"Index {index}: {input_list[index]}")


original_list = ['red', 'green', 'white', 'black']
print("Original list:")
print(original_list)
print("\nTraverse the said list in reverse order with original indices:")
traverse_reverse_with_indices(original_list)

Original list:
['red', 'green', 'white', 'black']

Traverse the said list in reverse order with original indices:
Index 3: black
Index 2: white
Index 1: green
Index 0: red

 Dictionary

1. Write a Python program and calculate the mean of the below dictionary.

test_dict = {"A" : 6, "B" : 9, "C" : 5, "D" : 7, "E" : 4}

Output: 6.2

In [6]:
def calculate_mean(dictionary):
    total_sum = sum(dictionary.values())
    count = len(dictionary)
    mean = total_sum / count
    return mean


test_dict = {"A": 6, "B": 9, "C": 5, "D": 7, "E": 4}
mean_value = calculate_mean(test_dict)
print(f"The mean of the values in the dictionary is: {mean_value}")

The mean of the values in the dictionary is: 6.2

2.Write a Python script to concatenate the following dictionaries to create a new one.

Sample Dictionary :

dic1={1:10, 2:20}

dic2={3:30, 4:40}

dic3={5:50,6:60}

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [7]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

# Create a new dictionary by concatenating dic1, dic2, and dic3
result = {**dic1, **dic2, **dic3}

print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

3.Write a Python program to get the key, value and item in a dictionary.

input:dict_num = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

Output:



Key 	Value

1	10

2	20

3	30

4	40

5	50

6	60

In [8]:
dict_num = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

print("Key\tValue")
for key, value in dict_num.items():
    print(f"{key}\t{value}")

Key	Value
1	10
2	20
3	30
4	40
5	50
6	60

4.Write a Python program to get the key, value and item in a dictionary.

Input: input_dict = {1: 10, 2: 20, 3:None, 4: 40, 5: None, 6: 60}



Output:

dict with empty items Dropped :

{1:10,2:40,4:40,6:60}

In [9]:
input_dict = {1: 10, 2: 20, 3: None, 4: 40, 5: None, 6: 60}


cleaned_dict = {k: v for k, v in input_dict.items() if v is not None}

print("Dict with empty items dropped:")
print(cleaned_dict)

Dict with empty items dropped:
{1: 10, 2: 20, 4: 40, 6: 60}

Tuple

1. Write a Python program to find the number of times 4 appears in the tuple.

Input:

tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7 )

Output: 3

In [10]:

tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7)


count_of_4 = tuplex.count(4)


print(count_of_4)

3

2.Write a Python program to convert a list to a tuple.

Input: listx = [5, 10, 7, 4, 15, 3]

Output: (5, 10, 7, 4, 15, 3)

In [11]:

listx = [5, 10, 7, 4, 15, 3]


tuplex = tuple(listx)


print(tuplex)

(5, 10, 7, 4, 15, 3)

3. Write a Python program to calculate the sum of the numbers in a given tuple.

Input: tuples_list = [(1, 2), (3, 4), (5, 6)]

Output:

sum of tuple is : 21

In [12]:

tuples_list = [(1, 2), (3, 4), (5, 6)]

total_sum = sum(sum(tup) for tup in tuples_list)


print("Sum of tuple is:", total_sum)

Sum of tuple is: 21

4.Write a python program and iterate the given tuples

Input:

employee1 = ("John Doe", 101, "Human Resources", 60000)

employee2 = ("Alice Smith", 102, "Marketing", 55000)

employee3 = ("Bob Johnson", 103, "Engineering", 75000)

Output:

Employee Records :

Name : John Doe

Employee ID : 101

Department : Human Resources

Salary	:  60000

 

Name : Alice Smith

Employee ID : 102

Department :Marketing

Salary	:  55000



Name : Bob Johnson

Employee ID : 103

Department : Engineering

Salary	:  75000

In [14]:

employee1 = ("John Doe", 101, "Human Resources", 60000)
employee2 = ("Alice Smith", 102, "Marketing", 55000)
employee3 = ("Bob Johnson", 103, "Engineering", 75000)


employees = [employee1, employee2, employee3]

print("Employee Records:\n")

for employee in employees:
    name, emp_id, department, salary = employee
    print(f"Name : {name}")
    print(f"Employee ID : {emp_id}")
    print(f"Department : {department}")
    print(f"Salary : {salary}")
    print()

Employee Records:

Name : John Doe
Employee ID : 101
Department : Human Resources
Salary : 60000

Name : Alice Smith
Employee ID : 102
Department : Marketing
Salary : 55000

Name : Bob Johnson
Employee ID : 103
Department : Engineering
Salary : 75000

SETS

1. Write a Python program to Get Only unique items from two sets.

Input:

set1 = {10, 20, 30, 40, 50}

set2 = {30, 40, 50, 60, 70}

Output:

{70, 40, 10, 50, 20, 60, 30}

In [15]:

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}


unique_items = set1.union(set2)  


print(unique_items)

{70, 40, 10, 50, 20, 60, 30}

2. Write a Python program to Return a set of elements present in Set A or B, but

not both.

Input:

set1 = {10, 20, 30, 40, 50}

set2 = {30, 40, 50, 60, 70}

Output:

{20, 70, 10, 60}

In [16]:

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

unique_elements = set1.symmetric_difference(set2)


print(unique_elements)

{20, 70, 10, 60}

3. Write a Python program to Check if two sets have any elements in common. If

yes, display the common elements.

Input:

set1 = {10, 20, 30, 40, 50}

set2 = {60, 70, 80, 90, 10}

Output:

{10}

In [17]:

set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}


common_elements = set1.intersection(set2)


if common_elements:
    print(common_elements)
else:
    print("No common elements")

{10}

4. Write a Python program to Remove items from set1 that are not common to

both set1 and set2.

Input:

set1 = {10, 20, 30, 40, 50}

set2 = {30, 40, 50, 60, 70}

Output:

{40, 50, 30}

In [19]:

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}


common_elements = set1.intersection(set2)


set1.intersection_update(set2)


print(set1)

{40, 50, 30}