 ### lab1:
 Write a Pandas program to create a Pivot table and find the total sale
amount region wise, manager wise, sales man wise.

In [6]:
import pandas as pd

# Sample data (replace with your actual data)
data = {
    'Region': ['Central', 'Central', 'Central', 'Central', 'Central', 'Central', 'East', 'East', 'East', 'West', 'West', 'West'],
    'Manager': ['Douglas', 'Hermann', 'Hermann', 'Hermann', 'Martha', 'Martha', 'Timothy', 'Martha', 'Martha', 'Douglas', 'Timothy', 'Douglas'],
    'SalesMan': ['John', 'Luis', 'Shelli', 'Sigal', 'Steven', 'Steven', 'David', 'Alexander', 'Diana', 'Michael', 'Stephen', 'Michael'],
    'Sale_amt': [124016, 206373, 33698, 125037.5, 14000, 185690, 48204, 236703, 36100, 66836, 88063, 36100],
    'Item': ['Cell Phone', 'Desk', 'Home Theater', 'Television', 'Video Games', 'Cell Phone', 'Desk', 'Home Theater', 'Television', 'Video Games', 'Cell Phone', 'Desk'],
    'Units': [10, 2, 50, 60, 30, 15, 1, 35, 40, 25, 5, 1]
}

df = pd.DataFrame(data)
# Create pivot table
pivot_table = df.pivot_table(index=['Region', 'Manager', 'SalesMan'], values='Sale_amt', aggfunc='sum')

print(pivot_table)

                           Sale_amt
Region  Manager SalesMan
Central Douglas John       124016.0
        Hermann Luis       206373.0
                Shelli      33698.0
                Sigal      125037.5
        Martha  Steven     199690.0
East    Martha  Alexander  236703.0
                Diana       36100.0
        Timothy David       48204.0
West    Douglas Michael    102936.0
        Timothy Stephen     88063.0

Lab2: Write a Pandas program to create a Pivot table and find the item wise
unit sold.

In [7]:
import pandas as pd

# Sample data (replace with your actual data)
data = {
    'Region': ['Central', 'Central', 'Central', 'Central', 'Central', 'Central', 'East', 'East', 'East', 'West', 'West', 'West'],
    'Manager': ['Douglas', 'Hermann', 'Hermann', 'Hermann', 'Martha', 'Martha', 'Timothy', 'Martha', 'Martha', 'Douglas', 'Timothy', 'Douglas'],
    'SalesMan': ['John', 'Luis', 'Shelli', 'Sigal', 'Steven', 'Steven', 'David', 'Alexander', 'Diana', 'Michael', 'Stephen', 'Michael'],
    'Sale_amt': [124016, 206373, 33698, 125037.5, 14000, 185690, 48204, 236703, 36100, 66836, 88063, 36100],
    'Item': ['Cell Phone', 'Desk', 'Home Theater', 'Television', 'Video Games', 'Cell Phone', 'Desk', 'Home Theater', 'Television', 'Video Games', 'Cell Phone', 'Desk'],
    'Units': [10, 2, 50, 60, 30, 15, 1, 35, 40, 25, 5, 1]
}

df = pd.DataFrame(data)

pivot_table = df.pivot_table(index='Item', values='Units', aggfunc='sum')


print(pivot_table)

              Units
Item
Cell Phone       30
Desk              4
Home Theater     85
Television      100
Video Games      55

 ### lab 3:
 Write a Pandas program to create a Pivot table and find the region
wise, item wise unit sold.

In [8]:
import pandas as pd

# Sample data (replace with your actual data)
data = {
    'Region': ['Central', 'Central', 'Central', 'Central', 'Central', 'Central', 'East', 'East', 'East', 'West', 'West', 'West'],
    'Manager': ['Douglas', 'Hermann', 'Hermann', 'Hermann', 'Martha', 'Martha', 'Timothy', 'Martha', 'Martha', 'Douglas', 'Timothy', 'Douglas'],
    'SalesMan': ['John', 'Luis', 'Shelli', 'Sigal', 'Steven', 'Steven', 'David', 'Alexander', 'Diana', 'Michael', 'Stephen', 'Michael'],
    'Sale_amt': [124016, 206373, 33698, 125037.5, 14000, 185690, 48204, 236703, 36100, 66836, 88063, 36100],
    'Item': ['Cell Phone', 'Desk', 'Home Theater', 'Television', 'Video Games', 'Cell Phone', 'Desk', 'Home Theater', 'Television', 'Video Games', 'Cell Phone', 'Desk'],
    'Units': [10, 2, 50, 60, 30, 15, 1, 35, 40, 25, 5, 1]
}

df = pd.DataFrame(data)

pivot_table = df.pivot_table(index=['Region', 'Item'], values='Units', aggfunc='sum')


print(pivot_table)

                      Units
Region  Item
Central Cell Phone       25
        Desk              2
        Home Theater     50
        Television       60
        Video Games      30
East    Desk              1
        Home Theater     35
        Television       40
West    Cell Phone        5
        Desk              1
        Video Games      25

### Lab4:
 Write a Pandas program to create a Pivot table and count the
manager wise sale and mean value of sale amount.

In [9]:
import pandas as pd

# Create a DataFrame from the provided data
data = {
    'Region': ['Central', 'Central', 'Central', 'Central', 'Central', 'Central', 'East', 'East', 'East', 'West', 'West', 'West'],
    'Manager': ['Douglas', 'Hermann', 'Hermann', 'Hermann', 'Martha', 'Martha', 'Timothy', 'Martha', 'Martha', 'Douglas', 'Timothy', 'Douglas'],
    'SalesMan': ['John', 'Luis', 'Shelli', 'Sigal', 'Steven', 'Steven', 'David', 'Alexander', 'Diana', 'Michael', 'Stephen', 'Michael'],
    'Sale_amt': [124016, 206373, 33698, 125037.5, 14000, 185690, 48204, 236703, 36100, 66836, 88063, 36100],
    'Item': ['Cell Phone', 'Desk', 'Home Theater', 'Television', 'Video Games', 'Cell Phone', 'Desk', 'Home Theater', 'Television', 'Video Games', 'Cell Phone', 'Desk'],
    'Units': [10, 2, 50, 60, 30, 15, 1, 35, 40, 25, 5, 1]
}

df = pd.DataFrame(data)

# Create the pivot table
pivot_table = df.pivot_table(index='Manager', values='Sale_amt', aggfunc={'Sale_amt': ['count', 'mean']})

# Display the pivot table
print(pivot_table)

         count           mean
Manager
Douglas      3   75650.666667
Hermann      3  121702.833333
Martha       4  118123.250000
Timothy      2   68133.500000

### ChatGPT Exercise
Using ChatGPT generate the python code to solve the same problem
Scenario:Analyzing Sales Data with a Pivot Table
Suppose you work for a retail company, and you have a dataset containing sales data.
The data includes information about sales transactions, products, and salespeople. You
want to create a pivot table to summarize sales by product and salesperson like
Calculate the total sales for each product,Calculate the total sales for each
salesperson,Identify the top-selling product and salesperson.
Create a ChatGPT prompt to generate the code for this scenario. Based on the code
generated, ask ChatGPT to give the conclusion/inference.
Note. You can provide the data to ChatGPT in the form of a list or dictionary or ask it to
use sample data.

In [10]:
import pandas as pd

# Sample data
data = {
    'Region': ['Central', 'Central', 'Central', 'Central', 'Central', 'Central', 'East', 'East', 'East', 'West', 'West', 'West'],
    'Manager': ['Douglas', 'Hermann', 'Hermann', 'Hermann', 'Martha', 'Martha', 'Timothy', 'Martha', 'Martha', 'Douglas', 'Timothy', 'Douglas'],
    'SalesMan': ['John', 'Luis', 'Shelli', 'Sigal', 'Steven', 'Steven', 'David', 'Alexander', 'Diana', 'Michael', 'Stephen', 'Michael'],
    'Sale_amt': [124016, 206373, 33698, 125037.5, 14000, 185690, 48204, 236703, 36100, 66836, 88063, 36100],
    'Item': ['Cell Phone', 'Desk', 'Home Theater', 'Television', 'Video Games', 'Cell Phone', 'Desk', 'Home Theater', 'Television', 'Video Games', 'Cell Phone', 'Desk'],
    'Units': [10, 2, 50, 60, 30, 15, 1, 35, 40, 25, 5, 1]
}

df = pd.DataFrame(data)

# Create pivot table
pivot_table = df.pivot_table(
    index=['Item', 'SalesMan'],
    values=['Sale_amt'],
    aggfunc={'Sale_amt': ['sum']}
)

# Display pivot table
print(pivot_table)

# Calculate total sales by product
total_sales_by_product = pivot_table.groupby(level='Item').sum()
print("\nTotal sales by product:\n", total_sales_by_product)

# Calculate total sales by salesperson
total_sales_by_salesperson = pivot_table.groupby(level='SalesMan').sum()
print("\nTotal sales by salesperson:\n", total_sales_by_salesperson)

# Identify top-selling product and salesperson
top_product = total_sales_by_product.sort_values(by=('Sale_amt', 'sum'), ascending=False).index[0]
top_salesperson = total_sales_by_salesperson.sort_values(by=('Sale_amt', 'sum'), ascending=False).index[0]
print("\nTop-selling product:", top_product)
print("Top salesperson:", top_salesperson)

                        Sale_amt
                             sum
Item         SalesMan
Cell Phone   John       124016.0
             Stephen     88063.0
             Steven     185690.0
Desk         David       48204.0
             Luis       206373.0
             Michael     36100.0
Home Theater Alexander  236703.0
             Shelli      33698.0
Television   Diana       36100.0
             Sigal      125037.5
Video Games  Michael     66836.0
             Steven      14000.0

Total sales by product:
               Sale_amt
                   sum
Item
Cell Phone    397769.0
Desk          290677.0
Home Theater  270401.0
Television    161137.5
Video Games    80836.0

Total sales by salesperson:
            Sale_amt
                sum
SalesMan
Alexander  236703.0
David       48204.0
Diana       36100.0
John       124016.0
Luis       206373.0
Michael    102936.0
Shelli      33698.0
Sigal      125037.5
Stephen     88063.0
Steven     199690.0

Top-selling product: Cell Phone
Top salesperson: Alexander